body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.modal-dialog-1 {
  width: 50% !important;
  height: 100vh !important;
  margin: auto 0 auto auto;
}
.modal-dialog-2 {
  width: 50% !important;
  height: 50vh !important;
}

.modal-content{
  height: 100%;
}